/* light */
@menu-color: rgba(0, 0, 0, 0.65);
@menu-background: #fff;
@menu-color-hover: #1890ff;
@menu-color-selected: #1890ff;
@menu-inline-selected: #1199ee;
@menu-background-selected: #e6f7ff;
@arrow-background: #333;