.frame-18kjT {
  width: 100%;
  min-height: 400px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  background: #fff;
}

.loading-1SoYA {
  text-align: center;
  min-height: 450px;
  padding: 30px 0;
}

.markdown-G1D47 {
  padding: 0 40px 20px 40px;
  margin: 0 auto;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #314659;
}
.markdown-G1D47 > *:first-child {
  margin-top: 0 !important;
}
.markdown-G1D47 > *:last-child {
  margin-bottom: 0 !important;
}
.markdown-G1D47 code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  word-wrap: normal;
}
.markdown-G1D47 pre {
  max-height: 35em;
  position: relative;
  overflow: auto;
  background-color: #fbfbfb;
  border-radius: 3px;
}
.markdown-G1D47 pre code {
  background: none;
  font-size: 1em;
  overflow-wrap: normal;
  white-space: inherit;
}
.markdown-G1D47 ul,
.markdown-G1D47 ol {
  padding-left: 2em;
}
.markdown-G1D47 dl {
  padding: 0;
}
.markdown-G1D47 dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}
.markdown-G1D47 li + li {
  margin-top: 3px;
}
.markdown-G1D47 a {
  color: #0366d6;
}
.markdown-G1D47 p {
  margin-bottom: 16px;
}
.markdown-G1D47 blockquote {
  margin: 0;
  padding: 0 1em;
  margin: 16px 0 16px 0;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
.markdown-G1D47 blockquote > :first-child {
  margin-top: 0;
}
.markdown-G1D47 blockquote > :last-child {
  margin-bottom: 0;
}
.markdown-G1D47 hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
.markdown-G1D47 h1 tt,
.markdown-G1D47 h1 code,
.markdown-G1D47 h2 tt,
.markdown-G1D47 h2 code,
.markdown-G1D47 h3 tt,
.markdown-G1D47 h3 code,
.markdown-G1D47 h4 tt,
.markdown-G1D47 h4 code,
.markdown-G1D47 h5 tt,
.markdown-G1D47 h5 code,
.markdown-G1D47 h6 tt,
.markdown-G1D47 h6 code {
  font-size: inherit;
}
.markdown-G1D47 h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}
.markdown-G1D47 h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}
.markdown-G1D47 h3 {
  font-size: 1.25em;
}
.markdown-G1D47 h4 {
  font-size: 1em;
}
.markdown-G1D47 h5 {
  font-size: 0.875em;
}
.markdown-G1D47 h6 {
  font-size: 0.85em;
  color: #6a737d;
}
.markdown-G1D47 table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.markdown-G1D47 table + table {
  margin-top: 16px;
}
.markdown-G1D47 table th {
  font-weight: 600;
  white-space: nowrap;
  color: #5c6b77;
  background: rgba(0, 0, 0, 0.02);
}
.markdown-G1D47 table th,
.markdown-G1D47 table td {
  padding: 8px 13px;
  border: 1px solid #dfe2e5;
}
.markdown-G1D47 table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.markdown-G1D47 table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.markdown-G1D47 table img {
  background-color: transparent;
}
.markdown-G1D47 img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  vertical-align: middle;
}
.markdown-G1D47 img[align=right] {
  padding-left: 20px;
}
.markdown-G1D47 img[align=left] {
  padding-right: 20px;
}
.markdown-G1D47 .comment,
.markdown-G1D47 .quote {
  color: #998;
}
.markdown-G1D47 .keyword,
.markdown-G1D47 .selector-tag,
.markdown-G1D47 .subst {
  color: #333;
  font-weight: bold;
}
.markdown-G1D47 .number,
.markdown-G1D47 .literal,
.markdown-G1D47 .variable,
.markdown-G1D47 .template-variable,
.markdown-G1D47 .tag .attr {
  color: #008080;
}
.markdown-G1D47 .string,
.markdown-G1D47 .doctag {
  color: #d14;
}
.markdown-G1D47 .title,
.markdown-G1D47 .section,
.markdown-G1D47 .selector-id {
  color: #900;
  font-weight: bold;
}
.markdown-G1D47 .subst {
  font-weight: normal;
}
.markdown-G1D47 .type,
.markdown-G1D47 .class .title {
  color: #458;
  font-weight: bold;
}
.markdown-G1D47 .tag,
.markdown-G1D47 .name,
.markdown-G1D47 .attribute {
  color: #000098;
  font-weight: normal;
}
.markdown-G1D47 .regexp,
.markdown-G1D47 .link {
  color: #009926;
}
.markdown-G1D47 .symbol,
.markdown-G1D47 .bullet {
  color: #990073;
}
.markdown-G1D47 .built_in,
.markdown-G1D47 .builtin-name {
  color: #0086b3;
}
.markdown-G1D47 .meta {
  color: #999;
  font-weight: bold;
}
.markdown-G1D47 .deletion {
  background: #fdd;
}
.markdown-G1D47 .addition {
  background: #dfd;
}
.markdown-G1D47 .emphasis {
  font-style: italic;
}
.markdown-G1D47 .strong {
  font-weight: bold;
}
.markdown-G1D47 .language-swift .keyword,
.markdown-G1D47 .language-swift .selector-tag,
.markdown-G1D47 .language-swift .subst {
  color: #C600AA;
  font-weight: normal;
}
.markdown-G1D47 .language-swift .meta {
  color: #C526D0;
  font-weight: normal;
}
.markdown-G1D47 .language-swift .type,
.markdown-G1D47 .language-swift .class .title {
  color: #7C10B2;
  font-weight: normal;
}
.markdown-G1D47 .language-css .keyword,
.markdown-G1D47 .language-scss .keyword,
.markdown-G1D47 .language-stylus .keyword,
.markdown-G1D47 .language-less .keyword,
.markdown-G1D47 .language-css .selector-tag,
.markdown-G1D47 .language-scss .selector-tag,
.markdown-G1D47 .language-stylus .selector-tag,
.markdown-G1D47 .language-less .selector-tag,
.markdown-G1D47 .language-css .subst,
.markdown-G1D47 .language-scss .subst,
.markdown-G1D47 .language-stylus .subst,
.markdown-G1D47 .language-less .subst {
  color: #d73a49;
  font-weight: normal;
}
.markdown-G1D47 .language-css .tag,
.markdown-G1D47 .language-scss .tag,
.markdown-G1D47 .language-stylus .tag,
.markdown-G1D47 .language-less .tag,
.markdown-G1D47 .language-css .name,
.markdown-G1D47 .language-scss .name,
.markdown-G1D47 .language-stylus .name,
.markdown-G1D47 .language-less .name,
.markdown-G1D47 .language-css .attribute,
.markdown-G1D47 .language-scss .attribute,
.markdown-G1D47 .language-stylus .attribute,
.markdown-G1D47 .language-less .attribute {
  color: #005cc5;
  font-weight: normal;
}
.markdown-G1D47 .language-css .selector-pseudo,
.markdown-G1D47 .language-scss .selector-pseudo,
.markdown-G1D47 .language-stylus .selector-pseudo,
.markdown-G1D47 .language-less .selector-pseudo {
  color: #6f42c1;
}
.markdown-G1D47 .language-css .selector-attr,
.markdown-G1D47 .language-scss .selector-attr,
.markdown-G1D47 .language-stylus .selector-attr,
.markdown-G1D47 .language-less .selector-attr {
  color: #008c41;
}
.markdown-G1D47 .language-css .selector-class,
.markdown-G1D47 .language-scss .selector-class,
.markdown-G1D47 .language-stylus .selector-class,
.markdown-G1D47 .language-less .selector-class {
  color: #6f42c1;
}
.markdown-G1D47 .language-css .selector-id,
.markdown-G1D47 .language-scss .selector-id,
.markdown-G1D47 .language-stylus .selector-id,
.markdown-G1D47 .language-less .selector-id {
  font-weight: normal;
}
.markdown-G1D47 .language-jsx .keyword,
.markdown-G1D47 .language-js .keyword,
.markdown-G1D47 .language-javascript .keyword,
.markdown-G1D47 .language-jsx .selector-tag,
.markdown-G1D47 .language-js .selector-tag,
.markdown-G1D47 .language-javascript .selector-tag {
  color: #b111bf;
  font-weight: 600;
}
.markdown-G1D47 .language-jsx .subst,
.markdown-G1D47 .language-js .subst,
.markdown-G1D47 .language-javascript .subst {
  color: #0000ca;
}
.markdown-G1D47 .language-jsx .title,
.markdown-G1D47 .language-js .title,
.markdown-G1D47 .language-javascript .title,
.markdown-G1D47 .language-jsx .section,
.markdown-G1D47 .language-js .section,
.markdown-G1D47 .language-javascript .section {
  color: #4e00dc;
  font-weight: normal;
}
.markdown-G1D47 .language-jsx .string,
.markdown-G1D47 .language-js .string,
.markdown-G1D47 .language-javascript .string,
.markdown-G1D47 .language-jsx .doctag,
.markdown-G1D47 .language-js .doctag,
.markdown-G1D47 .language-javascript .doctag {
  color: #d73a49;
}
.markdown-G1D47 .language-jsx .attr,
.markdown-G1D47 .language-js .attr,
.markdown-G1D47 .language-javascript .attr {
  color: #0000ca;
}
.markdown-G1D47 .language-jsx .class .keyword,
.markdown-G1D47 .language-js .class .keyword,
.markdown-G1D47 .language-javascript .class .keyword {
  color: #008cd4;
}
.markdown-G1D47 .language-jsx .function,
.markdown-G1D47 .language-js .function,
.markdown-G1D47 .language-javascript .function {
  color: #0000ca;
}
.markdown-G1D47 .language-jsx .function .params,
.markdown-G1D47 .language-js .function .params,
.markdown-G1D47 .language-javascript .function .params {
  color: #008cd4;
}
.markdown-G1D47 .language-json {
  color: #444;
}
.markdown-G1D47 .language-json .attr {
  color: #0000ca;
}
.pageTitle-2PUA6 {
  font-size: 30px;
  line-height: 38px;
  color: #0d1a26;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 8px;
  padding-left: 20px;
  font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}
body,
html {
  position: relative;
}
body,
html,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  color: #314659;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #1890ff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  height: 100%;
  background: white;
}

/* light */
.menu-2CQWU {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  transition: background 0.2s ease-in-out, width 0.2s ease-in-out;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu-item-5C8Rs {
  white-space: nowrap;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
  cursor: pointer;
  /* icon */
}
.menu-item-selected-1CT8B {
  position: relative;
  background: #e6f7ff;
  color: #1890ff;
}
.menu-item-selected-1CT8B a {
  color: #1890ff !important;
}
.menu-item-5C8Rs i {
  margin-right: 10px;
}
.menu-item-5C8Rs a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.menu-item-5C8Rs a::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  background-color: transparent;
}
.menu-item-title-15bgm {
  vertical-align: middle;
}
.menu-item-5C8Rs:hover {
  color: #1890ff;
}
.menu-item-5C8Rs:hover .menu-icon-3pqPT {
  color: #1890ff;
}
.menu-2CQWU .submenu-29KIN {
  line-height: 40px;
  cursor: pointer;
  overflow: hidden;
}
.menu-2CQWU .submenu-title-RWa-V {
  position: relative;
  padding: 0 28px 0 0;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
}
.menu-2CQWU .submenu-title-RWa-V:hover {
  color: #1890ff;
}
.menu-2CQWU .submenu-title-RWa-V:hover .submenu-arrow-11qpn::before,
.menu-2CQWU .submenu-title-RWa-V:hover .submenu-arrow-11qpn::after {
  background: #1890ff;
}
.menu-2CQWU .submenu-arrow-11qpn {
  display: inline-block;
  width: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 3px 0 -12px;
  position: relative;
  top: -5px;
}
.menu-2CQWU .submenu-arrow-11qpn::before,
.menu-2CQWU .submenu-arrow-11qpn::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1.5px;
  background: #333;
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu-2CQWU .submenu-arrow-11qpn::before {
  -ms-transform: rotate(45deg) translateY(-2px);
      transform: rotate(45deg) translateY(-2px);
}
.menu-2CQWU .submenu-arrow-11qpn::after {
  -ms-transform: rotate(-45deg) translateY(2px);
      transform: rotate(-45deg) translateY(2px);
}
.menu-2CQWU .submenu-arrow-open-3z1m8::before {
  -ms-transform: rotate(-45deg) translateX(2px);
      transform: rotate(-45deg) translateX(2px);
}
.menu-2CQWU .submenu-arrow-open-3z1m8::after {
  -ms-transform: rotate(45deg) translateX(-2px);
      transform: rotate(45deg) translateX(-2px);
}
.menu-2CQWU .submenu-selected-2JJHO {
  color: #1890ff;
}
.menu-inline-1uh3i {
  width: 100%;
  /* fold */
}
.menu-inline-1uh3i .menu-item-selected-1CT8B::after {
  content: '';
  position: absolute;
  width: 3px;
  background: #1199ee;
  top: 0;
  bottom: 0;
  right: 0;
}
.menu-inline-1uh3i .submenu-arrow-11qpn::before {
  -ms-transform: rotate(45deg) translateY(-2px);
      transform: rotate(45deg) translateY(-2px);
}
.menu-inline-1uh3i .submenu-arrow-11qpn::after {
  -ms-transform: rotate(-45deg) translateY(2px);
      transform: rotate(-45deg) translateY(2px);
}
.menu-inline-1uh3i .submenu-arrow-open-3z1m8::before {
  -ms-transform: rotate(-45deg) translateX(2px);
      transform: rotate(-45deg) translateX(2px);
}
.menu-inline-1uh3i .submenu-arrow-open-3z1m8::after {
  -ms-transform: rotate(45deg) translateX(-2px);
      transform: rotate(45deg) translateX(-2px);
}
.menu-inline-collapsed-ok-j9 {
  width: 0px;
}
.menu-inline-collapsed-ok-j9 .menu-item-5C8Rs {
  padding: 0 24px !important;
}
.menu-inline-collapsed-ok-j9 .menu-item-title-15bgm {
  opacity: 0;
}
.menu-inline-collapsed-ok-j9 .submenu-title-RWa-V {
  padding: 0 24px !important;
}
.menu-inline-collapsed-ok-j9 .submenu-title-field-27aEr {
  opacity: 0;
}
.menu-inline-collapsed-ok-j9 .submenu-title-RWa-V .submenu-arrow-11qpn {
  display: none;
}
.menu-icon-3pqPT {
  margin-right: 4px;
}
/* submenu fold/unfold animation */
.collapse-transition-2d5w3 {
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}
.toggle-276SZ {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 240px;
  top: 200px;
  transition: left 0.2s linear;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #fff;
}
.toggle-icon-1UaAn {
  position: relative;
  background: 0 0;
  width: 12px;
  height: 2px;
  background: #333;
  transition: background 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.toggle-icon-1UaAn::before,
.toggle-icon-1UaAn::after {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 50%;
  height: 2px;
}
.toggle-icon-1UaAn::before {
  -ms-transform: translateY(-2px) rotate(-45deg);
      transform: translateY(-2px) rotate(-45deg);
}
.toggle-icon-1UaAn::after {
  -ms-transform: translateY(2px) rotate(45deg);
      transform: translateY(2px) rotate(45deg);
}
.toggle-icon-close-3wPeN {
  background: #333;
}
.toggle-icon-close-3wPeN::before,
.toggle-icon-close-3wPeN::after {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 2px;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
}
.toggle-icon-close-3wPeN::before {
  top: -4px;
}
.toggle-icon-close-3wPeN::after {
  top: 4px;
}
.toggle-collapsed-1q8Je {
  left: 0px;
}

.icon-2NrmH {
  font-size: 24px;
  vertical-align: middle;
  fill: currentColor;
  background-size: cover;
  width: 1em;
  height: 1em;
}

.search--g3tI {
  position: relative;
}
.search--g3tI input {
  line-height: 1.5;
  font-size: 14px;
  color: #999;
  outline: 0;
  border-radius: 4px;
  border: 0;
  width: 200px;
}
.search--g3tI .panel-2V9GO {
  position: absolute;
  width: 350px;
  top: 50px;
  left: 0;
  background: rgba(255, 255, 255);
  max-height: 400px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  overflow-y: auto;
}
.search--g3tI .panel-2V9GO li {
  padding: 0 5px;
  list-style: none;
  border: 1px solid #e6ecf0;
}
.search--g3tI .searchItem-2AYuh {
  display: -ms-flexbox;
  display: flex;
}
.search--g3tI .title-3Rl5L {
  display: inline-block;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search--g3tI .content-2ED5k {
  display: inline-block;
  width: 245px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logo-1EGWS {
  float: left;
  padding: 0 0 0 15px;
}
.logo-1EGWS img {
  height: 28px;
  vertical-align: middle;
}
.logo-1EGWS span {
  vertical-align: middle;
}
.logo-1EGWS img + span {
  margin-left: 10px;
}
.header-2Kqjw {
  box-shadow: 0 2px 8px #f0f1f2;
  line-height: 64px;
  min-height: 64px;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
}
.header-2Kqjw .wrapper-kVZ_0 {
  -ms-flex: 1 1;
      flex: 1 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header-2Kqjw .wrapper-kVZ_0 .titleLink-2nOqs {
  display: inline-block;
}
.header-2Kqjw .wrapper-kVZ_0 .search-v8cMA {
  margin-left: 40px;
  max-width: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header-2Kqjw .wrapper-kVZ_0 .select-bAr4U {
  width: 200px;
}
.header-2Kqjw .rightArea-20R0l {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header-2Kqjw .rightArea-20R0l .sun-MEQdy {
  position: absolute;
  left: 5px;
  top: 4px;
}
.header-2Kqjw .rightArea-20R0l .moon-xtvM_ {
  position: absolute;
  right: 5px;
  top: 4px;
}
.header-2Kqjw .rightArea-20R0l .github-corner-2X1vY {
  display: block;
}
.header-2Kqjw .rightArea-20R0l .github-corner-2X1vY:hover .octo-arm-1rE3H {
  animation: octocat-wave-3mQqu 560ms ease-in-out;
}
.header-2Kqjw .rightArea-20R0l svg {
  vertical-align: bottom;
}
@keyframes octocat-wave-3mQqu {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(100deg);
  }
}
.pageTitle-VbC9B {
  font-size: 30px;
  line-height: 38px;
  color: #0d1a26;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 8px;
  padding-left: 20px;
  font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.darkMode-MYAiq {
  filter: invert(100%) hue-rotate(180deg);
}
.darkMode-MYAiq .no-dark-mode-14y4L {
  filter: invert(100%) hue-rotate(180deg);
}

.footer-3UIyM {
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #e9e9e9;
  margin: 50px 0 0 240px;
  padding: 20px 0 50px 0;
  clear: both;
  color: #999;
  transition: margin 0.2s ease-in-out;
}
.footer-3UIyM a {
  color: #758AC5;
}
.footer-3UIyM a:hover {
  color: #0800ff;
}
.footer-3UIyM .powered_by-Lcl7h {
  margin-bottom: 8px;
}
.footer-inlineCollapsed-1ZN94 {
  margin: 50px 0 0 0;
}
.footer-3UIyM .uv_count-irJcB,
.footer-3UIyM .pv_count-3q5v5 {
  margin-left: 5px;
}
.footer-3UIyM .split-1Ybst {
  margin: 0 5px;
}

.wrapper-3JU2P::after {
  content: '';
  display: block;
  clear: both;
}
.wrapperContent-Qi-Vo {
  padding: 40px 0 0 0;
  margin: 0px auto 0;
  position: relative;
  min-height: 100vh;
}
.wrapperContent-Qi-Vo .pageHeader-1YhcK,
.wrapperContent-Qi-Vo .pageFooter-1OXlb {
  position: absolute;
  right: 40px;
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.wrapperContent-Qi-Vo .pageHeader-1YhcK {
  top: 20px;
}
.wrapperContent-Qi-Vo .pageFooter-1OXlb {
  bottom: -23px;
}
.wrapperContent-Qi-Vo .pageFooter-1OXlb .position-18gUl {
  margin-right: 6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.wrapperContent-Qi-Vo .icon-pDZPk {
  margin-right: 3px;
}
.menuWrapper-y2Xvq {
  width: 240px;
  float: left;
  position: absolute;
  font-size: 14px;
  color: #6d6d6d;
  transition: width 0.2s linear;
  z-index: 99;
}
.menuWrapper-y2Xvq ul li {
  list-style: none;
}
.menuWrapper-y2Xvq ul ul {
  padding: 0 0 0 0;
}
.menuWrapper-y2Xvq li {
  line-height: 40px;
}
.menuWrapper-y2Xvq li li {
  padding: 0 0 0 0;
}
.menuWrapper-inlineCollapsed-CAHLr {
  width: 0;
}
.menuWrapper-y2Xvq .affixPlaceholder-2-KP4 {
  transition: width 0.2s linear;
}
.menuWrapper-y2Xvq .affixWrapper-1BGXQ {
  border-right: 1px solid #e9e9e9;
  transition: width 0.2s linear;
}
.menuMask-3BhcL {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 90;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.content-10lMr {
  margin-left: 240px;
  min-height: 300px;
  transition: margin-left 0.2s ease-in-out;
  position: relative;
}
.content-fullpage-3rXO- {
  margin-left: 0px;
}
.contentNoMenu-2CaiN {
  min-height: 400px;
}

div,
input,
textarea,
button,
select,
a,
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.noMatch-1tapl {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  color: #a2a2a2;
}
.noMatch-1tapl h1 {
  color: #717171;
  font-size: 68px;
  line-height: 54px;
  font-weight: 500;
}

body {
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}
body,
html {
  position: relative;
}
body,
html,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  color: #314659;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #1890ff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  height: 100%;
  background: white;
}

