.wrapper {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.wrapperContent {
  padding: 40px 0 0 0;
  margin: 0px auto 0;
}

.menuwrapper {
  width: 240px;
  float: left;
  font-size: 14px;
  color: #6d6d6d;
  position: relative;

  .toggle {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 240px;
    top: 20px;
    transition: left .2s ease-in-out;
    box-shadow: 2px 0 8px rgba(0, 0, 0, .15);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      position: relative;
      background: 0 0;
      width: 12px;
      height: 2px;
      background: #333;
      transition: background .3s cubic-bezier(.78, .14, .15, .86);

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        background: #333;
        width: 50%;
        height: 2px;
        transition: transform .2s cubic-bezier(.78, .14, .15, .86);
      }

      &::before {
        transform: translateY(2px) rotate(45deg);
      }

      &::after {
        transform: translateY(-2px) rotate(-45deg);
      }

      &-close {
        background: #333;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          background: #333;
          width: 100%;
          height: 2px;
          transition: transform .2s cubic-bezier(.78, .14, .15, .86);
          transform: rotate(0deg);
        }

        &::before {
          top: -4px;
        }

        &::after {
          top: 4px;
        }
      }
    }

    &-collapsed {
      left: 0px;
    }
  }

  ul li {
    list-style: none;
  }

  ul ul {
    padding: 0 0 0 0;
  }

  li {
    padding: 0 0 0 21px;
    line-height: 40px;
  }

  li li {
    padding: 0 0 0 0;
  }

  :global {
    .active a {
      color: #1890ff;
    }
  }

  &-inlineCollapsed {
    width: 0;
  }
}

.content {
  margin-left: 240px;
  min-height: 300px;
  transition: margin-left .2s ease-in-out;

  &-inlineCollapsed {
    margin-left: 0px;
  }
}

.contentNoMenu {
  min-height: 400px;
}