.tags {
  width: 100%;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  &-content {
    width: 100%;
    margin-top: 20px;
  }

  &-text {
    color: #6f6f6f;
    padding: 10px;
    display: inline-flex;
  }
}